extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Matt Partridge

        //- Feel free personalize the title below
        p.lead.text-light
          | Management Consultant and Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | My name is Matt. I'm obsessed with learning and I love being creative.
            | By day I'm a management consultant. I work with banks and Government agencies to tackle complex challenges head on, supporting complex projects and building operating models that promote effectiveness and collaboration.
            | However, by night I'm hands on, picking up practical new skills from a variety of domains. At the moment I'm learning Full Stack JavaScript, leatherwork, world building and writing.
            | For fun I enjoy quality cinema. I'm pretty good with movie quotes and references. See if you can find all of them throughout my page - "go ahead, make my day".
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Business analysis
          li Operating model design
          li Express, Pug, JavaScript, Node.js, SQL
          li Project management
          li Content creation and storytelling
          li Making leather smallgoods
          li "I know kung fu" (I don't really)
        h6 Contact Info

        //- Add your own contact info
        ul
          li +61 416-911-574
          li partridgem88@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/matthew-partridge-melb') LinkedIn
        a.button.expanded(href='https://www.github.com/mjparty88/') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
