extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Matt Partridge

        p.lead.text-light
          | Management Consultant and Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | My name is Matt. I'm obsessed with learning and I love being creative.
            | By day I'm a management consultant. I work with banks and government agencies to tackle complex challenges head on, supporting projects and building operating models that promote effectiveness and collaboration.
            | However, by night I'm hands on, picking up practical skills from a variety of domains. At the moment I'm learning full-stack JavaScript, leatherwork, world-building and writing.
            | For fun I enjoy quality cinema. I'm pretty good with movie quotes and references. See if you can find all of them throughout my page - "go ahead, make my day".
          //- Added my logo to show it off
          p
            | I even made a sick logo in Figma - check it out. It's bright pink, because "whoever said orange was the new pink was seriously disturbed"!
          img.mylogo(src=`/static/images/Matt_Partridge.svg`)
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Business analysis
          li Operating model design
          li JavaScript - Vanilla, Node.js
          li Frameworks - Express, React
          li Databases - SQL and NoSQL
          li Other Tech - Pug, HTML, CSS
          li Project management
          li Content creation and storytelling
          li Making leather smallgoods
          li "I know kung fu" (I don't really)
        h6 Contact Info

        ul
          li +61 416-911-574
          li partridgem88@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/matthew-partridge-melb') LinkedIn
        a.button.expanded(href='https://www.github.com/mjparty88/') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
